/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600&display=swap');
/*
=============== 
Variables
===============
*/

:root {
  --clr-grey-light: #6b6969;
  --clr-purple: #623AFC;
  --clr-purple-light: #F0EEFC;
  --clr-purple-dark: #251174;
  --clr-grey: #f2f2f2;
  --clr-text: #323232;
  --clr-red: #e20013;
  --clr-blue: #2E6FF2;
  --clr-white: #fff;
  --clr-black: #222;
  --ff-primary: 'Lato', sans-serif;
  --ff-secondary: 'Noto Sans', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(233, 230, 230, 0.1);
  --purple-shadow: 0 5px 15px #F0EEFC;
  --max-width: 1170px;
  --fixed-width: 620px;
  --tranparent-background: rgba(238, 41, 127, 0.941);
  --letter-spacing: 1px;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  background: var(--clr-grey);
  color: var(--clr-black);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
  letter-spacing: var(--letterSpacing);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*  global classes */

.btn {
  text-transform: uppercase;
  background: var(--clr-purple);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 400;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  border-radius: var(--radius);
}

.btn:hover {
  background: var(--clr-purple-dark);
}

/* section */
.section {
  padding: 1rem 0;
  position: relative;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

.loading-img {
  width: 20rem;
  height: 20rem;
  display: block;
  margin: 0 auto;
  margin-top: 10rem;
}

main {
  padding-bottom: 2rem;
}

.landing {
  background-color: #f5f5f5;
  color: #333333;
}

.form-input {
  /* box-shadow:  1px 1px 1px var(--clr-purple); */
  border: 2px solid var(--clr-purple);
  /* outline: none; */
}